#prediction {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

#prediction .page-header {
    margin-bottom: 1.5rem !important;
}

#prediction .header-title {
    color: #5a5c69 !important;
    margin-bottom: 0 !important;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
}

#prediction .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

#prediction .col-01 {
    position: relative;
    width: 100%;
    flex: 0 0 13.3%;
    max-width: 13.3%;
    background-color : #ffffff;
    margin: auto;
}

#prediction .card-input {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: 100% !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    background-color: white;
    background-clip: border-box;
    border: 0px solid #e3e6f0;
    border-radius: .35rem;
    background-color : #ffffff;
}

#prediction .card-body-input {
    flex: 1 1 auto;
    min-height: 1px;
    /* background-color : #00000000; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#prediction .card-row-input {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    /* background-color : #ffffff; */
}

#prediction .card-col-input {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin-right: .5rem !important;
    padding-right: 0;
    padding-left: 0;
    background-color : #00000000;
}

#prediction .card-text-input {
    font-size: 1rem;
    font-weight: 700 !important;
    color: #434343 !important;
    text-transform: uppercase !important;
    margin-bottom: .5rem !important;
    white-space: nowrap;
    overflow: hidden;
}

#prediction .card-inputbox-input {
    display: block;
    width: 85%;
    height: calc(1.5rem + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 400;
    line-height: 1.5;
    color: #6e707e;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    margin-top: 30px;
    padding: 0;
    /* background-color : #ffffff; */
    padding-left: 8px;
    padding-right: 8px;
}

#prediction .btn-col {
    position: relative;
    width: 10%;
    margin-left: auto;
    margin-right: 1%;

}

#prediction .btn-input {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 12px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out color .15s ease-in-out .15s ease-in-out;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0067E2;
    border-color: #0067E2;
}

#prediction .card-col-chart {
    position: relative;
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    flex: 0 0 50%;
    max-width: 50%;
}

#prediction .card-chart {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    /* border: 1px solid #e3e6f0; */
    border-radius: .35rem;
    margin-bottom: 1.5rem !important;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .1) !important;
    margin-top: 33.5px;
    border-radius: 30px;
    /* background-color: #ffffff; */
}

#prediction .card-header-chart {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    border-radius: calc(0.35rem - 1px) calc(0.35rem - px) 0 0;
    display: none !important;
}

#prediction .card-header-text-chart {
    color: #5a5c69 !important;
    margin: 0 !important;
    font-size: 1rem;
    font-weight: 700 !important;
}

#prediction .card-body-chart {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

#prediction .card-area-chart {
    position: relative;
    width: 100%;
    height: 20rem;
}

#prediction .card-mychart-01 {
    display: block;
    width: 514px;
    height: 320px;
    animation: chartjs-render-animation
}

#prediction .card-col-output {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-bottom: 1.5rem !important;
    flex: 0 0 20%;
    max-width: 20%;
}

#prediction .card-output {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    height: 100% !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    word-wrap: break-word;
    /* background-color: #ffffff; */
    background-clip: border-box;
    border: 0px solid #e3e6f0;
    border-radius: .35rem;
}

#prediction .card-body-output {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

#prediction .card-row-output {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

#prediction .card-content-output {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: .5rem !important;
}

#prediction .card-text01-output {
    font-size: 1rem;
    columns: #4e73df !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin-bottom: .5rem !important;
}

#prediction .card-text02-output {
    font-size: 2rem;
    font-family: GmarketSansBold;
    color: #444444 !important;
    margin-bottom: 0 !important;
    line-height: 1.2;
    text-align: right;
    margin-top: 34px;
}

#prediction .row__row {
    display: flex;
    width: 86%;
    border-radius: 12px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
    margin-left: .75rem;
    margin-right: .75rem;
    flex-wrap: nowrap;

}

#prediction .last_row {
    border-radius: 30px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.10);
    margin-top: 30px;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 0;
}


#search {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

#search .search-inputform {
    width: 588px;
    /* margin-left: 1rem !important; */
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    /* margin-right: 1rem !important; */
    max-width: 100% !important;
    flex-flow: row wrap;
    align-items: center;
}

#search .search-input {
    display: flex;
    position: relative;
    width: auto;
    flex-wrap: wrap;
    align-items: stretch;
}

#search .search-inputbox {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1rem;
    height: 60px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff !important;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-clip: padding-box;
    border-radius: 30px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    border-width: 0;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 10%);
    padding-left: 32px;
}

#search .search-input-append {
    margin-left: -60px;
    display: flex;
}

#search .search-btn-input {
    cursor: pointer;
    position: relative;
    z-index: 2;
    color: white;
    background-color: #0067E2;
    border-color: #0067E2;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: .35rem;
    border-radius: 30px;
    width: 120px;
}

#search .search-btn-text {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#search .search__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search .search-result {
    margin-top: 1rem !important;
}

#search .tabmenu {
    padding-left: 2rem;
}

#search .tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 60px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

#search .tabs li {
    background: #ffffff;
    color: #222;
    display: inline-block;
    padding: 10px 36px;
    cursor: pointer;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05); */
    align-items: center;
    display: flex;
}

#search .tabs li:nth-child(1) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#search .tabs li:nth-child(3) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#search .tabs li.current {
    background: #0067E2;
    color: white;
}

#search .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

#search .tab-content.current {
    display: inherit;
}

#search .table-output {
    width: 100%;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 1.5rem;
    background-color: #ffffff;
    width: 100%;
    border-right-width: 0;
    clear: both;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    border: 1px solid #e3e6f0;
    color: #838796;
    border-radius: 30px;
    border-width: 0;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 10%);
}

#search .table-data-output {
    width: 100%;
}

#search th {
    margin: 0;
    width: 200px;
    padding-right: 30px;
    border-left-width: 0;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
    border: 1px solid #e3e6f0;
    padding: 1.5rem 0.75rem;
    border-width: 0;
    font-size: 14px;
}

#search tr:nth-child(1) th {
    border-bottom-width: 1px;
}

#search td {
    border-bottom-width: 0;
    border-left-width: 0;
    box-sizing: content-box;
    border: 1px solid #e3e6f0;
    padding: .75rem;
    vertical-align: top;
}

#content {
    background-color: whitesmoke;
}

#table_data {
    width: 100%;
}

.cast_input {
    width: 65%;
    /* margin-left: 2rem; */
    /* padding: 2rem; */
}

.cast_input h2{
    color: black;
    /* padding: 16px; */
}

.cast_box{
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 0.75rem;
}

.cast_box:nth-child(2){
    margin-top: 42px;
    margin-bottom: 0px;
}
.cast_res {
    position: relative;
    width: 29%;
    margin-left: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-top: 0.75rem;
    padding: 1.5rem;
    color: black;
}

.field {
    position: relative;
    height: 100%;
    padding: 0 0 8px 0;
    border: 0px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field-label {
    position: relative;
    margin: 0;
    /* padding-left: 1rem; */
    display: block;

    color: black;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;

    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}

.field-input {
    position: relative;
    display: block;
    width: 90%;
    height: 32px;
    padding: .7rem 0 0 1rem;

    line-height: 16px;
    font-size: 18px;

    background: transparent;
    -webkit-appearance: none;
    outline: none;
    text-align: right;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: rgba(0, 0, 0, 0.05);
}

.field::after,
.field::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;

    background-color: 0;
}

.field::after {
    background-color: blue;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.has-label .field-label {
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label {
    color: blue;
}

.field.is-focused::after {
    transform: scaleX(1);
}

.grid-amcol {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 120px;
    background-color: #00000000;
}

.grid-batch {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 120px;
    background-color: white;
}

.card-cast-output {
    position: relative;
    width: 100%;
    height: 20%;
    margin-bottom: 2rem;
}

.card-text-cast-output {
    height: 3rem;
    font-size: 2rem;
    font-weight: 700 !important;
    color: #5a5c69 !important;
    margin-bottom: 0 !important;
    line-height: 1.2;
    text-align: right;
    margin: 16px;
}

.cast_btn {
    position: absolute;
    left: 0;
    bottom: 2rem;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}

._error_ {
    font-size: .85rem;
    color: red;
    display: block;
    margin-top: 8px;
}